[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sqlalchemy = "*"
pandas = "*"
pyodbc = "*"
keyboard = "*"
blessings = "*"
readchar = "*"
tabulate = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.9"
